{% extends "two_factor/_base_focus.html" %}
{% load i18n two_factor %}

{% block content %}
  <h1>{% block title %}{% trans "Login" %}{% endblock %}</h1>


    <p>{% blocktrans %}Enter your credentials.{% endblocktrans %}</p>

  <form action="" method="post">{% csrf_token %}
    {% include "two_factor/_wizard_forms.html" %}

    {# hidden submit button to enable [enter] key #}
    <input type="submit" value="" class="d-none" />

    
    {% if backup_tokens %}
      <p>{% trans "As a last resort, you can use a backup token:" %}</p>
      <p>
        <button name="wizard_goto_step" type="submit" value="backup"
                class="btn btn-secondary btn-block">{% trans "Use Backup Token" %}</button>
      </p>
    {% endif %}

    {% include "two_factor/_wizard_actions.html" %}
  </form>
{% endblock %}
